* {
    font-family: 'Noto Serif', serif;
}

/* style by element */
body {
    background-image: url("../images/sparkle.jpeg");
    background-size: cover;
}

p {
    color:#EAEAEA;
}


#home-blog-txt {
    color: #EAEAEA;
}

.bg-blogs {
    background-color:#EAEAEA;
}

#signuplink {
    color: #EAEAEA;
}

#comment-name{
    font-size: smaller;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}

/* navbar styling */
.navbar-brand:hover {
    letter-spacing: 0.2em;
   
}
/* .navbar-brand {
    background-color: lavenderblush;
} */

.navbar-nav {
    margin-left: auto;
    /* background-color: #EAEAEA; */
}

/* footer styling */
#footer-ref {
    color: #EAEAEA;
    /* background-color: #EAEAEA; */
    
}

footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background-color: goldenrod; */
}